.results-card {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10px;
}

.results-card h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #333;
}

.results-card p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #007bff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.result-comment {
  font-size: 1rem;
  color: rgb(165, 0, 0);
}
