.active-tab {
  background-color: #4c53af;
  color: white;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.navigation {
  display: flex;
  flex-direction: row;
}
